html,
body,
#root {
    height: 100%;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.layout {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.side-layout {
    border-right: 1px solid black;
    min-width: 270px;
    display: flex;
    flex-direction: column;
}

.header {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
}

.splitter {
    height: 10px;
    margin-right: 10px;
    border-bottom: 1px solid black;
}
